.filter{
	padding:3rem 0;
}

.filter ul{
	padding:.8rem 0;
	background-color: rgba(167, 169, 172, .08);
}

.filter li{
	border-right: 1px solid rgba(255, 255, 255, .5);
	text-align: center;
	padding: .35rem 0;
}

.filter li:first-child,
.filter li:last-child{
	border-color:rgba(255, 255, 255, .08);
}

.filter li p,
.filter li a{
	color: #fff;
}

.filter form .fa-search{
	position: absolute;
	top: 1.2rem;
    right: 2.2rem;
    font-size: 1.8rem;
    color:#fff;
}