#main-footer{
	background-color: #fff;
	padding: 2rem 0;
}

#main-footer ul li{
	float:left;
}

#main-footer ul li a{
	font-size: 1.5rem;
	color:#231f20;
	text-transform: uppercase;
}

#main-footer ul li a.with-admin{
	padding: 0 5.09rem;
}

#main-footer ul li a.without-admin{
	padding: 0 8.85rem;
}
