#main-header{
	background-color: rgba(35, 31, 32, .95);
}

#main-header ul{
	width: 533.5px;
	margin:0 auto;
}

#main-header ul li{
	float: left;
}

#main-header ul li a{
	font-weight: bold;
	padding:1.5rem 6rem;
	color:#fff;
	opacity: .5;
}

#main-header ul li a:hover,
#main-header ul li a:active,
#main-header ul li a:focus{
	opacity: 1;
}