#main-header{
	background-image:url('../images/header.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;   
}

#main-header ul{
	width: 533.5px;
	margin:0 auto;
}

#main-header ul li{
	float: left;
}

#main-header ul li a{
	font-weight: bold;
	padding:1.5rem 6rem;
	color:#fff;
	opacity: .5;
}

#main-header ul li a:hover,
#main-header ul li a:active,
#main-header ul li a:focus{
	opacity: 1;
}

#logo{
	background-color: rgba(0,0,0,.5);
	padding:6rem 0;
}

#logo h1{
	font-family: impact;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 5.8rem;
}