@font-face {
  font-family: 'impact';
  src: url('../fonts/Impact/impact.eot');
  src: url('../fonts/Impact/impact.woff2') format('woff2'),
       url('../fonts/Impact/impact.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Impact/Impact.woff') format('woff'),
       url('../fonts/Impact/Impact.ttf') format('truetype'),
       url('../fonts/Impact/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}

/********************* MAIN *********************/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%; 
  font-family: Arial, Helvetica, sans-serif;
}

body {
	font-family: Raleway;
	font-size: 1.4rem;
}

a{
	display:block;
	text-decoration:none;
}

.good {
  color: #FFF;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  background: #b29e7e;
}

.bad {
  background: #E62020;
  color: #FFF;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 25px;
  background: #20E689;
}

ul,
ol{
	list-style-type:none;
}

#information {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 50px;
}

img,
input,
textarea,
label,
video{
	display:block;
	width: 100%;
	border-radius: 0;
}

img{
  max-width: 100%;
}

input,
textarea{
	outline: none;
	border:1px solid transparent;
	color:#fff;
}

fieldset{
	border-color:transparent;
}

h1,
h2,
h3{
	font-weight: normal;
}

h1,
h2,
h3,
legend{
  text-transform: uppercase;
}

h1,
h2{
  font-family: impact;
}

h2{
  padding-bottom:2.5rem; 
}

h3,
legend{
  font-size: 1.7rem;
  padding: 0 .5rem;
}

p{
	line-height: 2.5rem;
}

/********************* LAYOUT *********************/ 

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
	margin: 0 auto;
	width: 80rem;
	display: block;
	overflow: hidden;
}

.col {
	float: left;
	padding: 0 1rem;
}

.center-block{
  margin: 0 auto; 
  text-transform: uppercase;
}

/********************* WIDTH *********************/

.total {
	width: 100%;
}

.moitie {
	width: 50%;
}

.tiers {
	width: 33.3%;
}

.deux-tiers {
	width: 66.7%;
}

.quart {
	width: 25%;
}

.trois-quarts {
	width: 75%;
}

/********************* TEXT *********************/

.uppercase-text{
	text-transform: uppercase;
}

.center-text{
	text-align: center;
}

.text-16px{
	font-size: 1.6rem;
}

/********************* SPACING *********************/

.no-margin{
  margin: 0!important;
}

.no-padding-left{
	padding-left: 0
}

.no-padding-right{
	padding-right: 0
}

.padding-top-bot-20{
	padding: 2rem 0;
}

.padding-bot-20{
  padding-bottom: 2rem;
}

.margin-top-20{
  margin-top:20px; 
}

.margin-bot-20{
	margin-bottom: 20px; 
}

/********************* BUTTONS *********************/

.btn{
  color:#fff;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
}

.btn-dark{
  background-color: rgba(255,255,255,.2);
}

.btn-gold{
  background-color:#b29e7e; 
}

/********************* OTHER *********************/

.hidden{
	display: none;
}

.relative{
	position: relative;
}

.clickable{
	cursor: pointer;
}

.app-data{
  position: fixed;
  z-index: 3000;
  width: 100%;
  top: 80px;
}

.app-data .fb-like{
  padding: 0 1.5rem;
  float: right;
}

/********************* FORM *********************/

label{
  color: #fff;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  margin-top: 20px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,.1);
  padding: 12px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 18px;
  right: 10px;
}

.select-styled:hover {
  background-color: rgba(255,255,255,.15);
}

.select-styled:active, .select-styled.active {
  background-color: rgba(255,255,255,.1);
}

.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #272727;
}

.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #272727;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  background-color: rgba(255,255,255,.1);
}

.select-options li:hover {
  background: rgba(255,255,255,.15);
}

.select-options li[rel="hide"] {
  display: none;
}

.filupp > input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filupp {
  position: relative;
  background-color: rgba(255,255,255,.1);
  display: block;
  padding: 12px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  color: #fff;
  cursor: pointer;
  text-transform: none;
}

.filupp:before {
  content: '\f019';
  font-family: "FontAwesome";
  position: absolute;
  top: 13px;
  right: 12px;
}

/********************* MAIN HEADER *********************/

#main-header nav{
  background-color: #272727;
  border-bottom: .1rem solid rgba(255,255,255,.2);
}

#main-header h1 a{
  font-size: 2.5rem;
  float: left;
  padding: 1rem 0;
  color:#fff;
  padding-left: 1rem;
}

#main-header ul{
  float: right;
}

#main-header ul > li{
  float: left;
}

#main-header ul > li > a{
  color: #fff;
  text-transform: uppercase;
  padding:1.7rem 2rem;
  border-left: .1rem solid rgba(255,255,255,.2);
}

#main-header ul > li > a:hover,
#main-header ul > li > a:active,
#main-header ul > li > a:focus{
  background-color: #b29e7e;
}

#main-header ul > li:last-child > a{
  border-right: .1rem solid rgba(255,255,255,.2);
}

#login .fixed-content{
  background: rgba(0,0,0,.8);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 80rem;
  height: 100vh;
  text-align: center;
}

#login .fixed-content a{
  background: #3b5998;
  width: 20rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: .6rem;
  border: 1px solid #272727;
  margin: 30rem auto;
}

#login .fixed-content a i{
  padding: 1.2rem 0;
  padding-right: 2rem;
  border-right: 1px solid rgba(255,255,255,.1);
  margin-right: 1.5rem;
}


/********************* HOME - EXPLICATIONS / FINAL - FINAL *********************/

#explications article,
#final article{
  background-image:url('../images/explications.png');
  background-repeat: no-repeat; 
  background-size:cover;
  background-position: center;  
  padding: 3.5rem 0 7rem 0; 
}

#explications h2,
#final h2{
  font-size: 5.69rem;
}

#explications fieldset,
#final fieldset{
  border: .2rem solid #b29e7e;
  padding: 5rem 2rem;
  color:#fff;
  margin-left: 9.5rem;
}

#final fieldset{
  padding: 3rem 2rem;
}

#explications legend,
#final legend{
  color: #b29e7e;
}

#explications fieldset a{
  position: absolute;
  bottom: -2.5rem;
  outline-offset: -.4rem;
  outline: .1rem solid transparent;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#explications fieldset a:hover{
  outline: .1rem solid #fff;
}
  

/********************* HOME - RECOMPENSE / FINAL - WINNER *********************/

#recompense article:last-child,
#winner article:last-child{
  padding: 4rem 2rem;
}

#winner article:last-child{
  padding: 6.25rem 2rem;
}

#winner article:last-child{
  background-color: #272727;
}

#recompense article:last-child > div{
  border: .2rem solid #c3c2c2;
  padding: 3rem 2rem;
  color: #272727;
}

#winner article:last-child > div{
  border: .2rem solid #b29e7e;
  padding: 3rem 2rem;
  color: #ffffff;
}

#recompense article:last-child > div h2,
#winner article:last-child > div h2{
  font-size: 7.07rem;
}

#recompense article:last-child > div h3{
  color: #c3c2c2;
  background-color: #fff;
  position: absolute;
  top: -10.5px;
}

#winner article:last-child > div h3{
  color: #b29e7e;
  background-color: #272727;
  position: absolute;
  top: -10.5px;
}

/********************* HOME - LAST PARTICIPANTS *********************/

#last_participants > div > div,
#last_participants > div > header,
#last_participants > div > footer{
  background-color: #272727;
  padding: 3rem 0;
}

#last_participants hr{
  border: .2rem solid transparent;
  border-bottom-color: rgba(255,255,255,.5);
  margin: 2rem;
}

#last_participants h3{
  color: rgba(255,255,255,.5);
  background-color: #272727;
  position: absolute;  
  margin: 0 auto;
  top: 4.2rem;
  left: 33%;
}

/********************* GALLERY - PHOTO LIST *********************/

#filters nav,
#filters form{
  float:left;
}

#filters nav ul,
#filters nav li,
#filters nav span{
  float: left;
  font-size: 1.6rem;
  text-transform: uppercase;
}

#filters nav{
  width: calc(100% - 21.5rem);
  width: -moz-calc(100% - 21.5rem);
  width: -webkit-calc(100% - 21.5rem);
  border-left: .2rem solid #c3c2c2;
}

#filters nav span{
  padding: 0 2rem;
}

#filters nav ul{
  width: 79.7%;
}

#filters nav span,
#filters nav li a{
  padding: 1.05rem;
}

#filters nav li{
  width: 33.3%;
}

#filters nav li.active a,
#filters nav li:hover a,
#filters nav li:focus a,
#filters nav li:active a{
  background-color: #b29e7e;
  color:#fff;
}

#filters nav li:last-child{
  border-right: .2rem solid #c3c2c2;
}

#filters nav li a{
  color: #272727;
  border-left: .2rem solid #c3c2c2;
  text-align: center;
}

#filters form{
  border-right: .2rem solid #272722;
  border-left: .2rem solid #272722;
  width: 100%;
}

#filters form input[type="text"]{
  width: 100%;
  height: 4rem;
  color:#fff;
  font-size: 1.4rem;
  font-weight: 300;
  background-color: rgba(0,0,0,.8);
  padding-left: 8px;
}

#filters form input[type="submit"]{
  font-family: FontAwesome;
  background-color: #fff;
  color:#272727;
  font-size: 1.6rem;
  position: absolute;
  width: 4rem;
  top:0;
  right: 0;
}

.no-result-found{
  color: #fff;
  font-style: italic;
  padding-top: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  font-weight: 300;
  font-size: 1.3rem;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size:1.6rem;
  font-style: italic;
  font-weight: 300;
  font-size: 1.3rem;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  font-weight: 300;
  font-size: 1.3rem;
}

:-moz-placeholder { /* Firefox 18- */
  color: #272727;
  font-style: italic;
  font-weight: 300;
  font-size: 1.3rem;
}

/********************* ALBUM *********************/

#gallery{
  padding: 2rem 0;
  background-color: #272727;
  min-height: 100vh;
}

.album .grid-item{
  margin-bottom: 2rem;
}

.user-picture > div,
.user-picture label > div{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
}

.user-picture label > div {
  height: 220px;
}

.user-picture > div > .user-data{
  /*display: none;*/
  position: absolute;
  width: 100%;
  height:100%;
  padding: 10px;
  background-color: rgba(0,0,0,.5);
}

.user-picture > div:hover > .user-data{
  display: block;
}

.user-picture > div > .user-data .author{
  color:#fff;
  position: absolute;
  bottom: 10px;
  text-transform: uppercase;
}

.user-picture > div > .user-data .fb-like{
  float: right;
}

#pictures .container{
  background-color: #272727;
  min-height: 100vh;
}

#pictures .user-picture{
  position: relative;
}

#pictures #user-picture-upload{
  padding-top:20px;
  padding-bottom: 20px;
}

#pictures form input[type="submit"]{
  width: initial;
  float: right;
  font-size: 16px;
  background: #b29e7e;
  padding: 5.5px 20px;
}

#pictures form input[type="submit"]:hover{
  opacity: .8;
}

#pictures .user-picture:hover .submit-picture{
  display: block;
}

#pictures .user-picture .submit-picture{
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  height: 220px;
  width: 90%;
  z-index: 7;
  background: rgba(0,0,0,.8);
  border: 0 solid transparent;
  color: rgba(255,255,255,.5);
  font-size: 55px;
}

#pictures .user-picture .submit-picture:focus{
  border: 0 solid transparent;
  outline: none;
}

/********************* MAIN FOOTER *********************/

.main-footer{
  padding: 15px 0;
}

.main-footer li{
  float: left;
}

.main-footer .admin-link{
  float: right;
}

.main-footer a{
  color: #272727;
  text-transform: uppercase;
}

.main-footer a:hover{
  color: #b29e7e;
}

/********************* CGU *********************/

#cgu .container{
  background-color: #272727;
  min-height: 100vh;
  color: #fff;
}

#cgu > div > header{
  background-color: #272727;
  padding: 3rem 0;
}

#cgu hr{
  border: .2rem solid transparent;
  border-bottom-color: rgba(255,255,255,.5);
  margin: 2rem;
}

#cgu h3{
  color: rgba(255,255,255,.5);
  background-color: #272727;
  position: absolute;  
  margin: 0 auto;
  top: 4.2rem;
  left: 27.5%;
}

#cgu h2{
  font-family: raleway;
  font-size: 15px;
  font-weight: bolder;
  padding-bottom: 2rem!important;
}

/********************* ADMIN *********************/

.admin-form{
  background-color: #272727;
}

.admin-form header{
  background-color: #272727;
  padding-top: 2rem;

}

.admin-form hr{
  border: .2rem solid transparent;
  border-bottom-color: rgba(255,255,255,.5);
  margin: 2rem 0;
}

.admin-form h3{
  color: rgba(255,255,255,.5);
  background-color: #272727;
  position: absolute;  
  margin: 0 auto;
  top: 3.2rem;
  left: 50%!important;
  transform: translateX(-50%);
}


.admin-form textarea,
.admin-form input {
  width: 100%;
  height: 4rem;
  padding: 10px;
  background-color: rgba(255,255,255,.1);
  color: #fff;
}

.admin-form textarea{
  height: 10rem;
  resize:none;
}

.admin-form form input[type="submit"]{
  width: initial;
  float: right;
  font-size: 16px;
  background: #b29e7e;
  padding: 5.5px 20px;
  margin: 2rem 0;
}

.livedit-submit{
  background: rgba(0,0,0,.5);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
}

.livedit-submit .container{
  padding: 0 1.2rem;
}

.livedit-submit #close,
.livedit-submit #validate{
  background: #272727;
  float: left;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-size: 14px;
  border: 0 transparent solid;
}

.livedit-submit #validate{
  float: right;
}



