@font-face {
  font-family: 'impact';
  src: url('../fonts/Impact/impact.eot');
  src: url('../fonts/Impact/impact.woff2') format('woff2'),
       url('../fonts/Impact/impact.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Impact/Impact.woff') format('woff'),
       url('../fonts/Impact/Impact.ttf') format('truetype'),
       url('../fonts/Impact/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}

/********************* MAIN *********************/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%; 
  font-family: Arial, Helvetica, sans-serif;
}

body {
	font-family: Raleway;
	font-size: 1.4rem;
}

a{
	display:block;
	text-decoration:none;
}

ul,
ol{
	list-style-type:none;
}

img,
input,
textarea,
label,
video{
	display:block;
	width: 100%;
	border-radius: 0;
}

img{
  max-width: 100%;
}

input,
textarea{
	outline: none;
	border:1px solid transparent;
	color:#fff;
}

input{
	height: 4rem;
	-webkit-appearance: none;
	-moz-appearance: none;
   	appearance: none;
   	padding: 0 1.2rem;
   	background-color: rgba(167, 169, 172, .08);
}

fieldset{
	border-color:transparent;
}

h1,
h2,
h3{
	font-weight: normal;
}

h1,
h2,
h3,
legend{
  text-transform: uppercase;
}

h1,
h2{
  font-family: impact;
}

h2{
  padding-bottom:2.5rem; 
}

h3,
legend{
  font-size: 1.7rem;
  padding: 0 .5rem;
}

p{
	line-height: 2.5rem;
}

/********************* LAYOUT *********************/ 

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
	margin: 0 auto;
	width: 80rem;
	display: block;
	overflow: hidden;
}

.col {
	float: left;
	padding: 0 2rem;
}

.center-block{
  margin: 0 auto; 
  text-transform: uppercase;
}

/********************* WIDTH *********************/

.total {
	width: 100%;
}

.moitie {
	width: 50%;
}

.tiers {
	width: 33.3%;
}

.deux-tiers {
	width: 66.7%;
}

.quart {
	width: 25%;
}

.trois-quarts {
	width: 75%;
}

/********************* TEXT *********************/

.uppercase-text{
	text-transform: uppercase;
}

.center-text{
	text-align: center;
}

.text-16px{
	font-size: 1.6rem;
}

/********************* SPACING *********************/

.no-padding-left{
	padding-left: 0
}

.no-padding-right{
	padding-right: 0
}

.padding-top-bot-20{
	padding: 2rem 0;
}

.margin-bot-20{
	margin-bottom: 20px; 
}

/********************* BUTTONS *********************/

.btn{
  color:#fff;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
}

.btn-dark{
  background-color: rgba(255,255,255,.2);
}

.btn-gold{
  background-color:#b29e7e; 
}

/********************* OTHER *********************/

.hidden{
	display: none;
}

.relative{
	position: relative;
}

.clickable{
	cursor: pointer;
}

/********************* MAIN HEADER *********************/

#main-header nav{
  background-color: #272727;
}

#main-header h1 a{
  font-size: 2.5rem;
  float: left;
  padding: 1rem 0;
  color:#fff;
  padding-left: 2rem;
}

#main-header ul{
  float: right;
}

#main-header ul > li{
  float: left;
}

#main-header ul > li > a{
  color: #fff;
  text-transform: uppercase;
  padding:1.7rem 2rem;
  border-left: .1rem solid rgba(255,255,255,.2);
}

#main-header ul > li > a:hover,
#main-header ul > li > a:active,
#main-header ul > li > a:focus{
  background-color: #b29e7e;
}

#main-header ul > li:last-child > a{
  border-right: .1rem solid rgba(255,255,255,.2);
}

#login .fixed-content{
  background: rgba(0,0,0,.8);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 80rem;
  height: 100vh;
  text-align: center;
}

#login .fixed-content a{
  background: #3b5998;
  width: 20rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: .6rem;
  border: 1px solid #272727;
  margin: 30rem auto;
}

#login .fixed-content a i{
  padding: 1.2rem 0;
  padding-right: 2rem;
  border-right: 1px solid rgba(255,255,255,.1);
  margin-right: 1.5rem;
}


/********************* HOME - EXPLICATIONS / FINAL - FINAL *********************/

#explications article,
#final article{
  background-image:url('../images/explications.png');
  background-repeat: no-repeat; 
  background-size:cover;
  background-position: center;  
  padding: 3.5rem 0 7rem 0; 
}

#explications h2,
#final h2{
  font-size: 5.69rem;
}

#explications fieldset,
#final fieldset{
  border: .2rem solid #b29e7e;
  padding: 5rem 2rem;
  color:#fff;
  margin-left: 9.5rem;
}

#final fieldset{
  padding: 3rem 2rem;
}

#explications legend,
#final legend{
  color: #b29e7e;
}

#explications fieldset a{
  position: absolute;
  bottom: -2.5rem;
}

/********************* HOME - RECOMPENSE / FINAL - WINNER *********************/

#recompense article:last-child,
#winner article:last-child{
  padding: 4rem 2rem;
}

#winner article:last-child{
  padding: 6.25rem 2rem;
}

#winner article:last-child{
  background-color: #272727;
}

#recompense article:last-child > div{
  border: .2rem solid #c3c2c2;
  padding: 3rem 2rem;
  color: #272727;
}

#winner article:last-child > div{
  border: .2rem solid #b29e7e;
  padding: 3rem 2rem;
  color: #ffffff;
}

#recompense article:last-child > div h2,
#winner article:last-child > div h2{
  font-size: 7.07rem;
}

#recompense article:last-child > div h3{
  color: #c3c2c2;
  background-color: #fff;
  position: absolute;
  top: -10.5px;
}

#winner article:last-child > div h3{
  color: #b29e7e;
  background-color: #272727;
  position: absolute;
  top: -10.5px;
}

/********************* HOME - LAST PARTICIPANTS *********************/

#last_participants > div > div,
#last_participants > div > header,
#last_participants > div > footer{
  background-color: #272727;
  padding: 3rem 0;
}

#last_participants hr{
  border: .2rem solid transparent;
  border-bottom-color: rgba(255,255,255,.5);
  margin: 2rem;
}

#last_participants h3{
  color: rgba(255,255,255,.5);
  background-color: #272727;
  position: absolute;  
  margin: 0 auto;
  top: 4.2rem;
  left: 33%;
}












